* {
  box-sizing: border-box;
}

@font-face {
  font-family: Arial Black;
  src: url('../Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Arial Black;
  src: url('../Arial-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  animation: fadeIn 1s;
  margin: 0;
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  background-color: black;
  color: rgb(220, 220, 220);
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(12, 12, 12);;
}

nav a:hover {
  color: rgb(189, 0, 0)
}

p {
  font-size: 1.125rem;
}

h1 {
  font-size: 2.15rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.45rem;
}

.links {
  font-size: 1.125rem;
  color: #eeeeee;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

nav {
  padding: 1rem;
  color: white;
  text-align: left;
  position: fixed;
  background-color: rgb(0, 0, 0, 7);
  opacity: 90%;
  height: 5rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  top: 0px;
  pointer-events: none;
}

.header {
  font-size: 2.25rem;
}

.sub-header {
  font-size: 1.125rem;
  float: right;
  margin-top: .75rem;
  margin-right: 1rem;
}

.hamburger {
  float: left;
  margin-right: 1.5rem;
  z-index: 100;
  position: relative;
  pointer-events: all;
}

.nav-links {
  top: 0;
  left: -200%;
  position: fixed;
  background-color: rgb(44, 44, 44);
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  transition: 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  
}

.nav-links-active {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(44, 44, 44);
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  transition: 0.5s ease-in-out;
  transform: translateX(0);
  z-index: 10;
  pointer-events: all;
}

.image-grid {
  
  --gap: 28px;
  --num-cols: 5;
  --row-height: 80px;

  box-sizing: border-box;
  padding: 36px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  position: relative;
}

.image-grid > a > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: 200ms transform ease-in-out;
}

.image-grid > a > img:hover {
  transform: scale(1.1);
}

.image-reverse {
  filter: invert(1) hue-rotate(180deg);
}

.image-reverse-gray {
  filter: invert(1) hue-rotate(180deg) grayscale() brightness(160%);
}

.image-reverse-gray-bright {
  filter: invert(1) grayscale() brightness(130%);
}

.image-gray {
  filter: grayscale(100%) brightness(140%) contrast(140%);
}

.message {
  font-size: .975rem;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}

.bg-image {
  max-width: 100%;
}

.image-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
}
.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 10s infinite;
  animation: fade 10s infinite;
}
#pic1 {
  animation-delay: 0s;
  background-image: url('https://i.imgur.com/01V7ghQ.jpeg');
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 12px 12px black inset;
}
#pic2 {
  background-image: url('https://i.imgur.com/wz8aOwo.jpeg');
  animation-delay: 5s;
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 42px 42px black inset;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lineup {
  display: grid;
  grid-template-columns: repeat(2);
  max-width: 100%;
  margin: 0 auto;
}

.books, .poster, .ticket-text, .ticket-text2 {
  grid-row: 1 / 2;
}

.books {
  grid-column: 1/2;
  max-width: 100%;
  filter: grayscale() sepia(25%);
}

.poster {
  grid-column: 1 / 1;
  max-width: 42.5%;
  z-index: 1;
  align-self: center;
  margin-top: 10rem;
  margin-left: 5rem;
}

.ticket-text {
  color: rgb(12, 12, 12);
  text-align: right;
  margin-top: 20rem;
  margin-right: 5rem;
  grid-column: 2 / 1;
  z-index: 1;
}

.ticket-text2 {
  color: rgb(12, 12, 12);
  text-align: right;
  margin-top: 23rem;
  margin-right: 5rem;
  grid-column: 2 / 1;
  z-index: 1;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  margin: 0 auto;
  color:rgb(12, 12, 12);
}

.tickets {
  align-content: center;
  padding: 3rem;
  grid-column: 1;
  background-color: rgb(39, 130, 221);
  color: rgb(12, 12, 12);
}

.merch {
  align-content: center;
  padding: 3rem;
  grid-column: 2;
  background-color: rgb(85, 153, 79);
  color: rgb(12, 12, 12);
}

.beneficiaries {
  align-content: center;
  padding: 3rem;
  grid-column: 3;
  background-color: rgb(219, 219, 63);
  color: rgb(12, 12, 12);
}

.small-text {
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: 400;
}

.press-header {
  color: #eeeeee;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.press-card {
  display: grid;
  background-color: gray;
  height: 16.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.press-card:hover {
  cursor: pointer;
}

.press-card:hover > .press-image > img {
  transform: scale(1.05);
}

.press-image {
  grid-column: 1;
  width: 30rem;
  overflow: hidden;
}

.press-image > img {
  width: 100%;
  transition: 200ms transform ease-in-out;
}

.press-text {
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto;
}

.press-title {
  color:rgb(12, 12, 12);
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: .75rem;
}

.press-details {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: .75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer {
  margin-top: 4rem;
  border-top: 1px solid #c5c5c5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.footer a {
  color: rgb(205, 0, 0);
}

.footer-social {
  margin-top: 1.5rem;
  float: left;
}

.footer-dev {
  margin-top: 1.5rem;
  float: right;
}


@media only screen and (max-width : 1200px) {
  .poster {
    max-width: 55%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ticket-text, .ticket-text2 {
    display: none;
  }
  .press-image {
    width: 25.5rem;
  }
  .press-title {
    font-size: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media only screen and (max-width : 1060px) {
  nav {
    height: 6.375rem;
  }
  .sub-header {
    float: none;
    text-align: center;
    font-size: .9rem;
    margin-top: 0;
    margin-right: 0rem;
  }
  .press-image {
    width: 24.75rem;
  }
  .press-title {
    font-size: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    font-size: 1.5rem;
  }
  .hamburger {
    margin-right: .5rem;
  }
  .image-grid {
    --gap: 20px;
    --num-cols: 3;
    --row-height: 65px;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .message {
    font-size: 0.8rem;
    grid-column: span 2;
  }
  .nav-links-active {
    width: 60%;
  }
  .image-container {
    max-width: 100%;
    height: 25rem;
  }
  .books {
    max-width: 100%;
    height: 40rem;
  }
  .poster {
    max-width: 92.5%;
    align-items: center;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .ticket-text, .ticket-text2 {
    display: none;
  }
  .shop-grid {
    display: block;
  }
  .press-header {
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .press-card {
    width: 90%;
    display: inline-block;
    height: auto;
  }
  .press-image {
    width: 100%;
    height: 12.5rem;
  }
  .press-text {
    margin-top: 1rem;
  }
  .press-title {
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .footer {
    font-size: .925rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 90%;
  }
  .footer-social {
    margin-top: 1rem;
    float: none;
  }
  .footer-dev {
    margin-top: .75rem;
    float: none;
  }
}