* {
  box-sizing: border-box;
}

@font-face {
  font-family: Arial Black;
  src: url('../public/Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Arial Black;
  src: url('../public/Arial-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  animation: fadeIn 1s;
  margin: 0;
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  background-color: #17120f;
  color: rgb(220, 220, 220);
  text-align: center;
}

/* header {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: .75rem;
  font-size: 1.5rem;
} */