* {
  box-sizing: border-box;
}

@font-face {
  font-family: Arial Black;
  src: url('../public/Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Arial Black;
  src: url('../public/Arial-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  animation: fadeIn 1s;
  margin: 0;
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  background-color: black;
  color: rgb(220, 220, 220);
  text-align: center;
}

p {
  font-size: 1.25rem;
}

nav {
  padding: 1rem;
  font-size: 2.25rem;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.sub-header {
  font-size: 1.125rem;
  float: right;
  margin-top: .75rem;
  margin-right: 1rem;
}

.hamburger {
  float: left;
  margin-right: 1.5rem;
  z-index: 100;
}

.nav-links {
  top: 0;
  left: -200%;
  position: absolute;
  background-color: rgb(33, 33, 33, 4);
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eeeeee;
  gap: 2rem;
  z-index: 10;
  transition: 0.5s ease-in-out;
  transform: translateX(100%);
}

.nav-links-active {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgb(33, 33, 33, 4);
  opacity: .9375;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eeeeee;
  gap: 2rem;
  z-index: 10 ;
  transition: 0.5s ease-in-out;
  transform: translateX(0);
}

.image-grid {
  
  --gap: 28px;
  --num-cols: 6;
  --row-height: 80px;

  box-sizing: border-box;
  padding: 36px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  z-index: 1;
  position: relative;
}

.image-grid > a > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: 200ms transform ease-in-out;
}

.image-grid > a > img:hover {
  transform: scale(1.1);
}

.image-reverse {
  filter: invert(1) hue-rotate(180deg);
}

.image-reverse-gray {
  filter: invert(1) hue-rotate(180deg) grayscale() brightness(160%);
}

.image-reverse-gray-bright {
  filter: invert(1) grayscale() brightness(130%);
}

.image-gray {
  filter: grayscale(100%) brightness(140%) contrast(140%);
}

.message {
  font-size: .975rem;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}


@media only screen and (max-width : 1060px) {
  .sub-header {
    float: none;
    text-align: center;
    font-size: .9rem;
    margin-top: 0;
    margin-right: 0rem;
  }
}

.bg-image {
  max-width: 100%;
}


.image-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
}
.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 10s infinite;
  animation: fade 10s infinite;
}
#pic1 {
  animation-delay: 0s;
  background-image: url('https://i.imgur.com/01V7ghQ.jpeg');
  filter: grayscale() sepia(50%);
  box-shadow: 0 0 16px 16px black inset;
}
#pic2 {
  background-image: url('https://i.imgur.com/wz8aOwo.jpeg');
  animation-delay: 5s;
  filter: grayscale() sepia(50%);
  box-shadow: 0 0 16px 16px black inset;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.schedule {
  display: grid;
  grid-template-columns: repeat(2);
  max-width: 100%;
  margin: 0 auto;
}

.books, .poster {
  grid-row: 1 / 2;
}

.books {
  grid-column: 1/2;
  max-width: 100%;
  filter: grayscale() sepia(50%);
}

.poster {
  grid-column: 1 / 1;
  max-width: 40%;
  z-index: 10;
  align-self: center;
  margin-top: 10rem;
  margin-left: 5rem;
}


@media only screen and (max-width: 900px) {
  .hamburger {
    margin-right: .5rem;
  }
  .image-grid {
    --gap: 20px;
    --num-cols: 3;
    --row-height: 65px;
    margin-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .message {
    font-size: 0.8rem;
  }
  .nav-links-active {
    width: 50%;
  }
  .image-container {
    max-width: 100%;
    height: 18rem;
  }
  .books {
    max-width: 100%;
    height: 50rem;
  }
}